:root {

    /* ^ Palette */
    --color-primary: #8a6359;
    --color-bg: #f9d0de;
    --color-cta: #f48fb1;
    --color-text: #733d26;
    --color-layer: #ffa0c3;



    /* ^ Font */
    --font-title: "Lavishly Yours", cursive;
    --font-text: "Alegreya Sans", sans-serif;


    
    /* ^ Border Radius */
    --border-radius: 25px;

}